*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* STYLE HEADER  */
header{
    height: 50px;
    background-color: darkgoldenrod;
    width: 100%;
}
.row-header{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.col-25{
    width: calc(100%/4);
    background-color: chartreuse;
}

/* FINE STYLE HEADER */

/* STYLE MAIN  */
   /* INIZIO CONTAINER JUMBOTRON */
.container-jumbotron{
    height: 500px;
    width: 100%;
    background-color: lightseagreen;
}
.row-jumbotron{
    display: flex;
    width: 100%;
    height: 100%;
}
.col-60{
    width: 60%;
    background-color: chocolate;
    margin: 0 auto;
}
   /* FINE CONTAINER JUMBOTRON */



/* FINE STYLE MAIN */

/* STYLE FOOTER */



/* FINE STYLE FOOTER */