*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


/* STYLE HEADER  */
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    
}
.row-header{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center ;
    padding: 10px 0;
}
.col-25{
    width: calc(100%/3);
    font-size: small;
    
}
.logo-dropbox{
    width: 100px;
    padding-right: 10px;
    
    
}
.content-first-menu{
    margin-left: 10px;

}
.content-second-menu{
    margin-right: 10px;
    text-align: end;

    
}
.content-first-menu span{
    padding-right: 15px;
}
.content-second-menu span{
    padding-left: 15px;
}
#button-header{
    background-color: #0061FF;
    color: white;
    padding: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 10px;
}
/* FINE STYLE HEADER */

/* STYLE MAIN  */

   /* STYLE CONTAINER JUMBOTRON */

.container-jumbotron{
    width: 100%;
    background-color: #B4D0E7;
    padding-top: 40px;

}
.row-jumbotron{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: center;
    
}
.col-60{
    width: 60%;

}
.content-jumbotron{
    margin-top: 40px;
    position: relative;
    

}
.content-jumbotron p, #button-jumbotron{
    margin-bottom: 20px;
    

}
.col-60 h1{
    font-size: 60px;
    margin-bottom: 30px;
}
#button-jumbotron{
    background-color: #0061FF;
    color: white;
    padding: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 10px;

}
#arrow{
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 30px;
}
.jumbotron-image{
    width: 550px;
    position: absolute;
    left: 270px;
    top: 170px;

}
.content-jumbotron p{
    margin-bottom: 20px;
    font-size: small;
    
}

   /* FINE CONTAINER JUMBOTRON */

   /* STYLE FIRST CONTAINER */
.first-container{
    max-width: 1170px;
    margin: 0 auto;

}
.row-first-container{
    display: flex;
    width: 100%;
    height: 100%;


}
.col-first-container{
    width: 50%;
    margin: 0 auto;

}
.col-first-container h2{
    padding-top: 100px;
}
ul{
    padding: 30px 0;
    list-style: none;
}
.button-radio{
    display: inline;
    padding-right: 30px;
    
}

   /* FINE STYLE FIRST CONTAINER */

    /* STYLE SECOND CONTAINER */
.second-container{
    max-width: 1170px;
    margin: 0 auto;
    
}
.row-second-container{
    display: flex;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 30px;
    justify-content: center;


}
.col-16{
    width: calc(100%/3);
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.144);
    
}
.content-list{
    padding-left: 20px;
}
.space{
    margin: 0 30px;
}
.user{
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    padding: 5px 0;
}

.first-list-container li{
    font-size: 10px;
    padding-bottom: 10px;
    
}
.button-second-container{
    background-color: #0061FF;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 10px;

}
.first-list-container li:first-child{
    font-size: medium;
}
#third-button{
    font-size: 10px;
    padding: 10px 50px;
    background-color: #0061FF;
    color: white;
    border: none;
}
.first-list-container a{
    color: #0061FF;
}
.hr-second-container{
    width: 20%;
    margin-left: 20px;
}
.second-list-container{
    font-size: 10px;
    padding-bottom: 10px;

}
.second-list-container li{
    font-size: 10px;
    padding-bottom: 20px;
    
}


   /* FINE STYLE SECOND CONTAINER */

   /* STYLE THIRD CONTAINER */
.third-container{
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.row-third-container{
    display: flex;
    width: 100%;
    height: 100%;


}
.col-third-container{
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.144);
    

}
.list-third-container{
    font-size: 10px;
    padding-bottom: 10px;

}
.list-third-container li:first-child{
    font-size: medium;
}
.list-third-container li:last-child{
    padding-top: 40px;
}
#button-third-container{
    background-color: #0061FF;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 10px;
    float: right;
    margin-top: 30px;
    margin-right: 10px;

}
   /* FINE STYLE THIRD CONTAINER */

   /* STYLE FOURTH CONTAINER */
.fourth-container{
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 120px;

}
.row-fourth-container{
    display: flex;
    width: 50%;
    margin: 0 auto;


}
.col-30{
    width: 60%;
    

}
.col-21{
    width: 40%;

}

.image-fourth-container{
    width: 100%;
}
.content-fourth-container{
    padding-left: 20px;
    padding-top: 20px;
}
.content-fourth-container h3{
    padding-bottom: 20px;

}
    /* FINE FOURTH CONTAINER */

    /* STYLE FIFTH CONTAINER */
.fifth-container{
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 80px;
    
   
}
.row-fifth-container{
    display: flex;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    flex-wrap: wrap;    
}
.col-100{
    width: 100%;

}

.col-33{
    width: calc(100%/3 - 20px);
    padding-top: 30px;
    
 
    
}
.space-fifth-container{
    margin: 0 30px;
}
.image-fifth-container{
    width: 100%;
    
}
.col-33 h3{
    padding-bottom: 20px;
}
    
    /* FINE STYLE FIFTH CONTAINER */

    /* STYLE SIXTH CONTAINER */
.sixth-container{
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 70px;

}
.row-sixth-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;

}

.col-50{
    width: 50%;
    

}
.col-50 h1{
    padding-bottom: 30px;
}
#link-sixth-container{
    color: #0061FF;
}
   /* FINE STYLE SIXTH CONTAINER */

   /* STYLE SEVENTH CONTAINER */
.seventh-container{
    width: 100%;



}
.row-seventh-container{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;


}

.col-40{
    width: 40%;
    height: 200px;
}
.col-15{
    width: 15%;
    height: 200px;
    position: relative;

}
.col-15-svg{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
.content-col-40{
    padding: 20px;
    font-size: 11px;
}
.content-col-40 p:last-child{
    padding-top: 20px;
    
}
.col-40-svg{
    height: 100px;
    width: 180px;

}
.lightgreen{
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}
.bordeux{
    background-color: #61082B;
}
.lightblue{
    background-color: #0093CE;
}
.red{
    background-color: #FF1C1C;
}
.brightred{
    background-color: #D5001F;
}
.sky{
    background-color: #B4D0E7;
}
.blue{
    background-color: #0D2481;
}
.yellow{
    background-color: #FFD830;
}
.ridimension-svg{
    width: 90px;
    height: 30px;

}

   /* FINE STYLE SEVENTH CONTAINER */

   /* STYLE EIGHTH CONTAINER */
.eighth-container{
    max-width: 100%;
    background-color:  #B4D0E7;

}
.row-eighth-container{
    display: flex;
    width: 1170px;
    align-items: center;
    padding: 50px 0;
    justify-content: center;
    margin: 0 auto;


}
.col-50{
    width: 50%;
}
.col-50 h2{
    color: brown;
}
#button-eighth-container{
    background-color: white;
    color: #B4D0E7;
    padding: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 10px;
    float: right;
    
    
    

}
   /* FINE STYLE EIGHTH CONTAINER */

   /* STYLE NINETH CONTAINER */
.nineth-container{
    max-width: 1170px;
    margin: 0 auto;


}
.row-nineth-container{
    display: flex;
    max-width: 1170px;
    height: 100%;
    align-items: center;
    padding: 50px 0;
    justify-content: center;



}
.col-51{ 
    width: 50%;
}
.col-51 h2{
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);

}
.col-51 p{
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);

}

   /* FINE STYLE NINETH CONTAINER */

/* FINE STYLE MAIN */

/* STYLE FOOTER */
   /* STYLE TEENTH CONTAINER */
footer{
    width: 100%;
    background-color: black;
}
.teenth-container{
    max-width: 1170px;
    margin: 0 auto;

}
.row-teenth-container{
    display: flex;
    max-width: 60%;
    justify-content: center;
    margin: 0 auto;
}

.col-20{
    width: calc(100%/5);
   
}
.footer-list li:first-child{
    padding-bottom: 20px;
    font-size: large;
    

}
.footer-list li{
    color: white;
    padding-bottom: 10px;
    font-size: small;
}

#hr-footer{
    width: 60%;
    margin-bottom: 30px;
    
}
.global-language{
    color: rgba(255, 255, 255, 0.63);
    padding-bottom: 30px;
    font-size: small;
    display: inline-block;
}

   /* FINE STYLE TEENTH CONTAINER */
    
/* FINE STYLE FOOTER */